.chart-container {
  width: 100%;
  height: auto;
  margin: 0 auto; /* Center the chart */
  padding: 20px; /* Add some padding */
}

@media (max-width: 480px) {
  /* Extra small devices (phones, less than 480px) */
  .chart-container {
    max-width: 100%;
    max-height: 250px; /* Adjust max-height for extra small devices */
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Small devices (phones, 481px and up) */
  .chart-container {
    max-width: 100%;
    max-height: 300px; /* Adjust max-height for small devices */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Medium devices (tablets, 769px and up) */
  .chart-container {
    max-width: 100%;
    max-height: 400px; /* Adjust max-height for medium devices */
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* Large devices (desktops, 1025px and up) */
  .chart-container {
    max-width: 1200px; /* Adjust max-width for large devices */
    max-height: 600px; /* Adjust max-height for large devices */
  }
}

@media (min-width: 1441px) {
  /* Extra large devices (large desktops, 1441px and up) */
  .chart-container {
    max-width: 1400px; /* Adjust max-width for extra large devices */
    max-height: 800px; /* Adjust max-height for extra large devices */
  }
}

.chart {
  width: 100%;
  height: auto;
}

@keyframes blink {
  0%,
  100% {
    background-color: rgba(0, 255, 0, 1);
  }
  50% {
    background-color: rgba(0, 100, 0, 1);
  }
}

.blinking-element {
  animation: blink 0.5s ease-in-out 5; /* Blink 5 times */
}
